<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="com.edu.bean.User"></bean>
    <bean id="beanSelfFactory" class="com.edu.beanFactory.BeanSelfFactory"/>
    <!--    静态工厂-->
    <bean id="studentBean" class="com.edu.beanFactory.BeanSelfFactory" factory-method="studentBean"></bean>
    <!--    动态工厂-->
    <bean id="userBean" class="com.edu.beanFactory.BeanSelfFactory" factory-method="userBean" factory-bean="beanSelfFactory"></bean>
    <!--    属性注入-->
    <bean id="insertUser" class="com.edu.bean.User">
        <constructor-arg name="username" value="guihaole333"></constructor-arg>
        <constructor-arg name="password" value="147852369"></constructor-arg>
    </bean>
</beans>
