<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.UserMapper">
    <sql id="BaseSql">uid as id,user_name as name, age,email </sql>
    <select id="selectMapById" resultType="map">
        select <include refid="BaseSql"></include> from s_user where id = #{id}
    </select>
    <select id="selectPageLimit" resultType="user">
        select <include refid="BaseSql"></include> from s_user where age >= #{age}
    </select>
</mapper>
