<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <!-- 把片段的内容插入到当前位置 -->
    <div style="color: #82ff6c"  th:insert="~{footers ::copy}"></div>
    </br>
    <!-- 使用片段的内容替换当前标签 -->
    <div style="color: #82ff6c"  th:replace="~{footers :: copy}"></div>
    </br>
    <!-- 保留自己的主标签，不要片段的主标签 -->
    <div style="color: #82ff6c"   th:include="~{footers :: copy}"></div>

    <div style="color: #82ff6c"   th:insert="~{footers :: copy2}"></div>

</body>
</html>
