<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offcn.mapper.CourseUserMapper">
    <resultMap id="BaseMap" type="courseUser">
        <id column="id" property="id"/>
        <result column="cid" property="cid"/>
    </resultMap>
    <select id="selectCourseUserByUid" resultMap="BaseMap">
        select id,cid from course_user where uid=#{uid}
    </select>
</mapper>
