<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://code.alibabatech.com/schema/dubbo
http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="site-consumer"/>
    <dubbo:registry address="zookeeper://47.93.11.231:2181"/>
    <!--在消费者中，需要调⽤的dubbo中的哪个服务，siteService->com.qf.api.SiteService-->
    <dubbo:reference interface="com.edu.service.SiteService" id="siteService"/>
</beans>
