<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--来写配置-->
    <context:property-placeholder location="classpath:day04-mybatis-spring/db.properties"></context:property-placeholder>
    <context:component-scan base-package="com.edu"></context:component-scan>
    <!-- mybatis的数据源配置-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="password" value="${c3p0.password}"></property>
        <property name="user" value="${c3p0.user}"></property>
        <property name="jdbcUrl" value="${c3p0.jdbcUrl}"></property>
        <property name="driverClass" value="${c3p0.driverClass}"></property>
    </bean>
    <!--    mybatis的全局配置-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        全局能配置的这都可以配置-->
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.edu.bean"></property>
        <property name="configLocation" value="day04-mybatis-spring/mybatis-config.xml"></property>
        <property name="mapperLocations" value="mappers-day04/*.xml"></property>
    </bean>
    <!--    mybatis的接口对象-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.edu.mapper"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"></property>
    </bean>
</beans>
